header{
    background: rgb(14, 33, 65);
    border-radius:0px;
    padding: 15px;
    width: 1380px;
    height: 125px;
    box-shadow: 4px 4px 10px rgba(8, 0, 7, 0.336);
    text-align-left: 2px;
    margin-top: -10px;
    margin-left: -10px
}
.title{
    text-align: center;
    margin-top: -100px;
    color:rgb(156, 198, 73);
    font-size: 26pt;
}

.logo1{
    text-align-right: center;
    border-top-right-radius: 20px;
    margin-top: -10px;
    margin-left: -15px;
}
.rodape{
    background: rgb(14, 33, 65);
    border-radius:0px;
    padding: 15px;
    width: 1380px;
    margin-top: 500px;
    margin-left: -10px;
    margin-bottom: -12px;
}
#txt1{
    color: rgb(156, 198, 73);
    font: Arial 18pt;
}
