@media (max-width: 1920px) and (max-height: 1080px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}
header{
    background: rgb(14, 33, 65);
    padding: 15px;
    height: 125px;
    box-shadow: 4px 4px 10px rgba(8, 0, 7, 0.336);
    top: 0px;
    left: 0px;
}
section{
    background: rgb(156, 198, 73);
    height: 100vh;
}
header, section, .rodape {
    width: 100%;
}

#txt2{
    margin-top: 2px;
    margin-left: 6px;
}
.title{
    text-align: center;
    color:rgb(230, 237, 233);
    padding: 20px;
    font: helvetica;
    font-size: 26pt;
}

.logo1{
    border-top-right-radius: 20px;
    margin-top: -22px;
    margin-left: -15px;
}

.wall {
    max-width: 80%; /* Ajusta melhor para diferentes telas */
    margin: 0 auto; /* Centraliza */
    top: -10vh; /* Ajuste dinâmico */
}

.info{
    top: 0px;
    text-align: center;
}
.pague{
    /* margin-top: -12px; */
    text-align: center;
}

.rodape{
    background: rgb(14, 33, 65);
    padding: 15px;
    position: relative;
    top: -3px;
    left: 0px;
}
#txt1{
    color: rgb(156, 198, 73);
    font: Arial 18pt;
    max-height: 720px;
}
#txt3{
    margin-top: -20px;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui os elementos corretamente */
    align-items: stretch; /* Faz os elementos ocuparem toda a largura */
}

/*header{
    position: fixed;
    z-index: 1;
}*/

.loja{
    top: 20px;
    right: 60px;
}
#fotos{
    margin-left: 80px;
    margin-top: 30px;
}
.pictures{
    margin-left: 24px;
}